@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td{
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: "Microsoft YaHei";
    line-height: 1;
    color: #333;
}

.lt-center{
	text-align: center;
}
.lt-top-middle{
    margin-top: 10px;
}

/* 两栏 */
.lt-container{
    display: flex;
    justify-content: space-between;
}
.self-box{
    padding-right: 55px;
    flex: 1;
    padding-bottom: 26px;
}
.slide-box{
    width: 300px;
}